In [5]:
print("ciao!")
a=12
b=3
c=5
d=a+b
print (d);
c,f = "chat",8
print ("j'ai",f,c, "et j'en veux toujours plus!")

ciao!
15
j'ai 8 chat et j'en veux toujours plus!

In [7]:
if a>10:   
    print ("validé") #indentation
else:
    print ("rattrapage")

validé

In [13]:
if 1 > 2:
 print("le premier nombre est plus grand") 
else:
    print ("ça va pas !")

ça va pas !

In [15]:
x = str(5)   # x sera '5', les chaînes de caractères sont toujours entre guillemets
y = int(5)    # y sera un entier (il l'était déjà!)
z = float(5)  # z sera 5.0 
print (x,y,z)

5 5 5.0

In [17]:
f=3.99
e = int(f) #transforme un décimal (ligne 16) en un entier
print (e)

3

In [18]:
x = 5
y = "Jacques"
z= 3.14
q=True
r=[3,"pommes",'poires',False,3.14]
p = {"Arras" : "Pas-de-Calais", "Nice" : "Alpes Maritimes","Montpellier" : "Hérault"}
print(type(x))
print(type(y)) 
print(type(z)) 
print(type(q)) 
print(type(r)) 
print(type(p))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>

In [19]:
print (3*3)
print (3*y)
print (3*z)

9
JacquesJacquesJacques
9.42

In [21]:
x = 5

def fonction():   #observer la variable x à l'extérieur et à l'intérieur d'une fonction
  x = 10
  print(20 + x)

fonction()

print(20 + x)

30
25

In [23]:
import random

print(random.randrange(1, 10)) #vous pouvez changer les valeurs entre parenthèses et rééxecuter la cellule

6

In [25]:
a = "Sorbonne"
print(a[3])  #la valeur entre crochets indique la quatrième lettre. l'index commence à 0

b

In [26]:
for L in "Sorbonne": # ça aurait pu être for x in Sorbonne print (x)
  print(L)

S
o
r
b
o
n
n
e

In [43]:
print(len(a))

8

In [27]:
z="ça aurait pu être for x in Sorbonne print (x)"
print (len(z))

45

In [32]:
for N in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,9999838628642]:
    if N%2==0:
        print (N,"nombre pair")
    else:
        print (N,"nombre impair")

1 nombre impair
2 nombre pair
3 nombre impair
4 nombre pair
5 nombre impair
6 nombre pair
7 nombre impair
8 nombre pair
9 nombre impair
10 nombre pair
11 nombre impair
12 nombre pair
13 nombre impair
14 nombre pair
15 nombre impair
9999838628642 nombre pair

In [33]:
texte = "certains cours sont sympas, d'autres moins"
if "cours" in texte:
  print("oui")
else:
    print ("non")

oui

In [34]:
a = 20
b = 3

if b > a:
  print("b est plus grand que a")
else:
  print("b est plus petit a")

b est plus petit a

In [35]:
villes = ["Douai", "Nancy", "Lille","Arras","Nice","Limoges"] #liste
for x in villes: #boucle for
  print(x)

Douai
Nancy
Lille
Arras
Nice
Limoges

In [36]:
villes = ["Douai", "Nancy", "Lille","Arras","Nice","Limoges"] #liste
for x in villes: #boucle for
    if x == "Arras":
     break
    print(x) #attention à l'indentation

Douai
Nancy
Lille